
.albumArt {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 20px 0;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.albumArt__link {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.albumArt__title {
    text-align: center;
    font-size: 48px;
    text-decoration: underline;
}

.albumArt__wrapper {
    -webkit-transform: rotateZ(5deg);
    -webkit-backface-visibility: hidden;
    padding: 2px;
}

.albumArt__wrapper:hover {
    transform: translateY(-2%);
    transition: 0.1s;
}

.albumArt__lucidDreamer {
    background: url('https://f4.bcbits.com/img/a1537340904_10.jpg') no-repeat 50% 50%;
    height: 300px;
    width: 300px;
    background-size: cover;
    transform: rotate(-15deg);
    border: 2px solid black;
    outline: 4px solid white;
}

.albumArt__delusions {
    background: url('https://f4.bcbits.com/img/a3698577754_10.jpg') no-repeat 50% 50%;
    height: 300px;
    width: 300px;
    background-size: cover;
    transform: rotate(5deg);
    border: 2px solid black;
    outline: 4px solid white;
}

.albumArt__parade {
    background: url('https://f4.bcbits.com/img/a1180755077_10.jpg') no-repeat 50% 50%;
    height: 300px;
    width: 300px;
    background-size: cover;
    transform: rotate(-10deg);
    border: 2px solid black;
    outline: 4px solid white;
}

.albumArt__journey {
    background: url('https://f4.bcbits.com/img/a1024485109_10.jpg') no-repeat 50% 50%;
    height: 300px;
    width: 300px;
    background-size: cover;
    transform: rotate(5deg);
    border: 2px solid black;
    outline: 4px solid white;
}

.albumArt__waxLyrical {
    background: url('https://f4.bcbits.com/img/a1008402844_10.jpg') no-repeat 50% 50%;
    height: 300px;
    width: 300px;
    background-size: cover;
    transform: rotate(5deg);
    border: 2px solid black;
    outline: 4px solid white;
}
