
html, body {
    height: 100vh;
    min-height: 100%;
    background: #000000;
    font-family: 'Kalam', sans-serif;
    overflow-x: hidden;
}


.App {
  text-align: center;
  background: #000000;
  color: white;
  heght: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 450px;
  width: 100%;
  color: white;
  background: #000000;
  margin-bottom: 50px;
}

.App-title {
  font-size: 1.5em;
  color: #000000;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.app__headerLogo {
    background: url('https://f4.bcbits.com/img/0005592508_10.jpg') 50% 50% no-repeat;
    height: 100%;
    width: 50%;
    min-width: 450px;
    background-size: cover;
    margin: 0 auto;

}

.app__about {
    padding: 20px 10px;
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
}

.app__spotifyPlayer {
    position: fixed;
    top: 20px;
    left: 20px;
    height: 460px;
    width: 400px;
    transition: height 1s ease-in;
    overflow: hidden;
}

.app__spotifyPlayer--hidden {
    height: 0;
}

.app_spotifyCollapsed {
    position: fixed;
    top: 20px;
    left: 20px;
    height: 50px;
    width: 400px;
}

.app_spotifyCollapsed:hover {
    text-decoration: underline;
    cursor: pointer;
}

.app__hideSpotify:hover {
    text-decoration: underline;
    cursor: pointer;
}
